#website
shopWebsiteUrlTest = www.globaloutlet.co.uk
shopWebsiteUrlPro = www.crazysales.com.au
shopWebsiteUrlPro1 = www.globaloutlet.co.uk

#website db
shopUrlTest2 = 192.168.10.240/shop
shopUrlTest1 = 192.168.10.240/shop
shopUrlTest =  192.168.10.240/shop
shopUrlPro = am01.crazysales.com.au/shop
shopUrlPro1 = 203.90.236.121/shop


#website read db, for those time consuming querings. Currently it is not for ebay main programs
shopUrlRTest2 = 192.168.10.240/shop
shopUrlRTest = 192.168.10.240/shop
shopUrlRPro = am10.crazysales.com.au/shop
shopUrlRPro1 = 203.90.236.121/shop

testMode = false

#deprecated
testSku = FX-086-BK
#deprecated
testSku2 = FVPS007+CAN800
productId = 78875
paymentId = 1465969
taskID = 251475
itemID = 351170692488

#the product pictures folder
photoFolderTest = Z:/products_pictures/
photoFolderPro = /home/crazysal/products_pictures/

#czOrderUrl is website order service for ebay usage
czOrderUrlTest = http://10.0.0.175/others/ebay_checkout_payment_roll.php
czOrderUrlPro = http://admin.crazysales.com.au/others/ebay_checkout_payment_roll.php

#for SAP system
sapTest = jdbc:sqlserver://203.87.59.30:1437;databaseName=SBO_AUSWAY_PACIFIC
sapPro = jdbc:sqlserver://10.0.0.18:1433;databaseName=SBO_AUSWAY_PACIFIC

#site name to indicate which website (one of UK,Australia)
siteName = Australia
siteName1 = Australia

#for ebay shipping fee calculation
shippingFeeUrlTest = http://www.crazysales.com.au/others/getpostage.php
shippingFeeUrlPro = http://www.crazysales.com.au/others/getpostage.php

##add ebayPhotoFolderPro
ebayPhotoFolderProTest=/home/crazysal/ebaypage/products_pictures/
ebayPhotoFolderPro=/home/crazysal/ebaypage/products_pictures/

##markdown csv path,
promotionPathTest=/home/crazysal/csv/eBayMarkdown.csv
promotionPath=/home/crazysal/csv/eBayMarkdown.csv

##add promotionPath,record error or success info to csv file
promotionReportPath=/home/crazysal/public_html/logs/
promotionReportPathTest=/home/crazysal/public_html/logs/
