<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--
        启动类的自动扫描器
    -->
    <!--<context:component-scan base-package="com.dtrees.ssmre.bean"/>-->

    <!--
        通过构造器注入
    -->

    <!--
        使用属性命名空间:
        p:title-ref="title-ref"
        属性的名字使用了“p:”前缀，表明我们所设置的是一个属性
        "title":接下来就是要注入的属性名。
        -ref:这会提示Spring要进行装配的是引用，而不是字面量
        title-ref:要注入的bean的ID名称
    -->
    <bean id="compactDisc" class="com.dtrees.study.springinaction.bean.SgtPeppers" p:title-ref=""></bean>

    <!--<bean id="cdPlayer" class="CDPlayer">-->
        <!--<constructor-arg ref="sgtPeppers1"/>-->
    <!--</bean>-->

    <!--
        使用命名
        c:compactDisc-ref="sgtPeppers1"
        属性名称c:命名空间的前缀
        compactDisc:装配的构造器参数名
        -ref:这是一个命名的约定,它会告诉Spring,正在装配的是一个bean的引用,这个bean的名字是compactDisc,而不是字面量“compactDisc”
        sgtPeppers1:要注入的bean的ID名称
    -->
    <!--<bean id="cdPlayer2" class="CDPlayer" c:compactDisc-ref="sgtPeppers1"></bean>-->

    <!--
        添加字面值
     -->
    <!--方式一-->
    <!--<bean id="blankDisc" class="BlankDisc">-->
        <!--<constructor-arg value="blank disc title"/>-->
        <!--<constructor-arg value="bland disc name"/>-->
        <!--&lt;!&ndash; 配置基本类型集合 &ndash;&gt;-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<value>v1</value>-->
                <!--<value>v1</value>-->
                <!--<value>v1</value>-->
                <!--<value>v1</value>-->
            <!--</list>-->
        <!--</constructor-arg>-->

        <!--&lt;!&ndash;配置引用&ndash;&gt;-->
        <!--&lt;!&ndash;<constructor-arg>&ndash;&gt;-->
            <!--&lt;!&ndash;<list>&ndash;&gt;-->
                <!--&lt;!&ndash;<ref bean="blankDisc2"></ref>&ndash;&gt;-->
                <!--&lt;!&ndash;<ref bean="blankDisc"></ref>&ndash;&gt;-->
            <!--&lt;!&ndash;</list>&ndash;&gt;-->
        <!--&lt;!&ndash;</constructor-arg>&ndash;&gt;-->
    <!--</bean>-->

    <!--&lt;!&ndash;方式二&ndash;&gt;-->
    <!--<bean id="blankDisc2" class="BlankDisc" c:_0="title" c:_1="name">-->
    <!--</bean>-->
</beans>
